.container {
  align-items: center;
  justify-content: justify;
  max-width: 1400px;
}

.post {
  align-items: center;
  width: 700px;
  height: 108px;
  margin: 0 0 1rem 0;
  line-height: 34px;
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: justify;
  letter-spacing: -0.5px;
  margin: 4rem 0 0.5rem 0;

  color: var(--heading);
}

.subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0.5rem;

  text-align: justify;

  color: var(--body);
}

.info {
  line-height: 3rem;

  & > span {
    color: var(--info);
    margin: 1rem 1rem 1rem 0;
  }
}

.loadMore {
  display: flex;
  margin: 4rem 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;

  color: var(--highlight);
}
