* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-default: #1a1d23;
  --info: #bbbbbb;
  --highlight: #ff57b2;
  --heading: #f8f8f8;
  --body: #d7d7d7;
}
// TODO

body {
  background-color: var(--background-default);
  color: var(--body);
}

body,
text,
textarea {
  font-family: "Inter", sans-serif;
  color: var(--heading);
}
