// TODO
.container {
  width: 720px;
  align-items: center;
  margin: 3rem auto;
}

.cover {
  width: 300px;
  max-height: 400px;
}

.fill > img {
  object-fit: cover;
  width: 98vw;
  height: 400px;
  margin: 0px;
}

.post {
  align-items: center;
  width: 700px;
  height: 108px;
  margin: 0 0 1rem 0;
  line-height: 25px;
}
